<% content_for :title, "Editing student" %>

<h1>Editing student</h1>

<%= render "form", student: @student %>

<br>


<div class="action-button-box">
    <%= link_to "Show this student", @student, class: "btn btn-maroon" %>
    <%= link_to "Back to students", students_path, class: "btn btn-maroon" %>
</div>