<h1>Students</h1>

<%= link_to "Add Students", new_student_path %>

<div id="students">
  <% @students.each do |student| %>
    <div>
    <%= link_to student.first_name, student %>
    </div>
  <% end %>
</div>
