<div class="statistics-section">
  <h2>Duplicate Students Across Different Classes</h2>

  <table class="course-table">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Number of Classes</th>
      </tr>
    </thead>
    <tbody>
      <% @duplicate_students.each do |id, name, class_count| %>
        <tr>
          <td><%= link_to name, student_path(id) %></td>
          <td><%= class_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="button-container">
    <%= link_to 'Back to Statistics', statistics_path, class: 'btn btn-light-gray' %>
  </div>
</div>