<h1>Class Statistics</h1>

<table border="1">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Student Count</th>
      <th>Average Grade</th>
      <th>Highest Grade</th>
    </tr>
  </thead>
  <tbody>
    <% @class_statistics.each do |stat| %>
      <tr>
        <td><%= stat[:course_name] %></td>
        <td><%= stat[:student_count] %></td>
        <td><%= stat[:average_grade].round(2) %></td>
        <td><%= stat[:highest_grade] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
