<h1>Home#index</h1>
<p>CSCE-606-SP2025-Purple-Professor-Student-Tracker</p>
<%= link_to "Teachers", teachers_path%>
<%= link_to "Students Roster", student_rosters_path%>
<%= link_to "Students", students_path %>