<% content_for :title, "Editing enrollment" %>

<h1>Editing enrollment</h1>

<%= render "form", enrollment: @enrollment %>

<br>


<div class="action-button-box">
    <%= button_to "Destroy this enrollment", @enrollment, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-maroon" %>
    <%= link_to "Back to enrollments", enrollments_path, class: "btn btn-maroon" %>
</div>