<% content_for :title, "Editing enrollment" %>

<h1>Editing enrollment</h1>

<%= render "form", enrollment: @enrollment %>

<br>


<div class="action-button-box">
    <%= link_to "Show this enrollment", @enrollment, class: "btn btn-maroon" %>
    <%= link_to "Back to enrollments", enrollments_path, class: "btn btn-maroon" %>
</div>