<%= render @enrollment %>

<div class="button-container">
  <%= link_to "Edit this enrollment", edit_enrollment_path(@enrollment), class: "btn btn-maroon" %>
  
  <%= button_to "Destroy this enrollment", @enrollment, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-maroon" %>
  <%= link_to "Back to enrollments", enrollments_path, class: "btn btn-maroon" %>
</div>

