<% content_for :title, "New peer teacher" %>

<h1>New peer teacher</h1>

<%= render "form", peer_teacher: @peer_teacher %>

<br>


<div class="button-container">
    <%= link_to "Back to peer teachers", peer_teachers_path, class: "btn btn-maroon" %>
  
</div>
