<% content_for :title, "Editing course" %>

<h1>Editing course</h1>

<%= render "form", course: @course %>

<br>

<div class="button-container">
  <%= button_to "Destroy this course", @course, method: :delete, class: "btn btn-maroon", data: { confirm: "Are you sure?" } %>
  <%= link_to "Back to Courses", courses_path, class: "btn btn-maroon" %>
</div>

