<% content_for :title, "Editing course" %>

<h1>Editing course</h1>

<%= render "form", course: @course %>

<br>

<div class="button-container">
  <%= link_to "Show this course", @course, class: "btn btn-maroon" %>
  <%= link_to "Back to Courses", courses_path, class: "btn btn-maroon" %>
</div>

