<% content_for :title, "New course" %>

<h1>New course</h1>

<%= render "form", course: @course %>

<br>


<div class="button-container">
    <%= link_to "Back to courses", courses_path, class: "btn btn-maroon" %>

</div>