<div id="<%= dom_id pt_enrollment %>">
  <p>
    <strong>Course:</strong>
    <%= pt_enrollment.Course_id %>
  </p>

  <p>
    <strong>Peerteacher:</strong>
    <%= pt_enrollment.PeerTeacher_id %>
  </p>

</div>
