<% content_for :title, "Editing pt enrollment" %>

<h1>Editing pt enrollment</h1>

<%= render "form", pt_enrollment: @pt_enrollment %>

<br>


<div class="action-button-box">
    <%= link_to "Show this pt enrollment", @pt_enrollment, class: "btn btn-maroon" %>
    <%= link_to "Back to pt enrollments", pt_enrollments_path, class: "btn btn-maroon" %>
</div>