<% content_for :title, "New pt enrollment" %>

<h1>New pt enrollment</h1>

<%= render "form", pt_enrollment: @pt_enrollment %>

<br>

<div class = action-button-box>
  <%= link_to "Back to pt enrollments", pt_enrollments_path,class: "btn btn-maroon" %>
</div>
